<form class="schema-tool">
  <div class="form-group">
    <label>Select Document Type:</label>
    <select name="doc-type">
      {{#each docNames}}
        <option value="{{this}}" {{#if (eq this ../selected)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div class="schema-tool-actions">
    <button type="button" data-action="export-selection"><i class="fas fa-file-export"></i> Export Selection</button>
    <button type="button" data-action="batch-generate"><i class="fas fa-diagram-project"></i> Batch Generate</button>
  </div>

  <hr>

  <section class="schema-list">
    <ul>
      {{#each schemaFields}}
        {{> schema-node key=@key field=this}}
      {{/each}}
    </ul>
  </section>
</form>
